@()
<div class="row" id="image-row">
  <div class="col-xs-12 track-list">
    <p>SEAT LEGEND</p>
    <div class="underline mid"></div>
    <div id="seat-keys">
      <br>
      <table>
      <tr>
        <td>VIP</td><td><input type="button" class="fsSubmitButton key-vip"></td>
        <td>Standard</td><td><input type="button" class="fsSubmitButton key-standard"></td>
        <td>Disabled</td><td><input type="button" class="fsSubmitButton key-disabled"></td>
        <td>Selected</td><td><input type="button" class="fsSubmitButton key-selected"></td>
        <td>Unavailable</td><td><input type="button" class="fsSubmitButton key-unavailable"></td>
      </tr>
      </table>
    </div>
  </div>
</div>
