@(booking: Booking)
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookings.css")">
    </head>
    <body>

        <div class="container" style="width:700px">
            <div class="track-list" style="text-align: left">

                <h1 class="card-block gianttext card-title">QA <span class="card-text">Cinemas</span></h1>
                <hr style="border-color: white">



                <h3 class="card-title">Movie Name: <span class="card-text small" style="float:right">@booking.movieName</span></h3>
                <h3 class="card-title">Show Date: <span class="card-text small" style="float:right">@booking.date</span></h3>
                <h3 class="card-title">Show Time: <span class="card-text small" style="float:right">@booking.time</span></h3>
                <h3 class="card-title">Seats:</h3>
                @for(seat <- booking.seats) {
                    <h3 class="card-title">
                        <span class="card-title small">Seat No: <span class="card-text small"> @seat.id </span></span>
                        <span class="card-title small" style="float:right">Seat Type: <span class="card-text small"> @seat.kind </span></span>
                    </h3>
                }
                <h3 class="card-title">Reference: <span class="card-text small" style="float:right">@booking.reference</span></h3>
                <h3 class="card-title">Total:     <span class="card-text small" style="float:right">@booking.price</span></h3>
            </div>
            <button onclick="printReciept()" class="btn btn-info">Print</button>
        </div>

        <script>
            function printReciept(){
                window.print()
            }
        </script>
    </body>
</html>