@(form: Form[(String, String)])(implicit messages: Messages)

    <body style="background-color: black">
    @main("Login") {
        <div class="container">
            <div class="row track-list">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 card-text">

                    @if(form.hasErrors) {
                        @for(error <- form.errors) {
                            <div class="well well-sm error">@error.message</div>
                        }
                    }

                    @helper.form(action = routes.UserController.loginHandler()) {

                    @helper.inputText(form("Username"), 'class -> "form-control")

                    @helper.inputPassword(form("Password"), 'class->"form-control")
                        <button class="btn">Login</button>

                }
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    }