@(form: Form[(String, String, String, String, String)])(implicit messages: Messages)

    @main("Register") {
        <div class="container">
            <div class="row track-list fill">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 card-text">
                    @if(form.hasErrors) {
                        @for(error <- form.errors) {
                            <div class="well well-sm error">@error.message</div>
                        }
                    }
                @helper.form(action = routes.UserController.regHandler()) {
                    <div class="form-group">
                    @helper.inputText(form("Name"), 'class->"form-control")
                    </div><div class="form-group">
                    @helper.inputText(form("Email"), 'class->"form-control")
                    </div><div class="form-group">
                    @helper.inputText(form("Username"), 'class->"form-control")
                    </div><div class="form-group">
                    @helper.inputPassword(form("Password"), 'class->"form-control")
                    </div><div class="form-group">
                    @helper.inputPassword(form("Confirm Password"), 'class->"form-control")
                    </div><div class="form-group">
                    <button type="submit" class="btn">Submit</button>
                    </div>
                }
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <br>
    }