@main("About us") {


  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">About us<br>
        </h1>
      </div>

      <div class="search">

      </div>
    </div>

  </div>
  <hr style="border-color: white">
    <!-- ADD SEARCH WHEN IMPLEMENTED -->
  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <div class="row">

          <div class="col-lg-6 col-md-6 mb-4">
            <div class="card h-100">
              <img class="home-movie-img" src="@routes.Assets.at("images/aboutpic.jpg")"
              alt="The Dark Tower"></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="card-block">
              <h4 class="card-title"><a href="#">Information</a></h4>
              <p class="card-text">Our passion for film and the whole cinema experience is so deep-rooted that it is embodied in everything we do. We’re determined to give every guest a great experience every time they visit, and so continuously strive to innovate and improve our hospitality and services.<br>

                We also offer so much more than popcorn and soft drinks. We now have our Gallery offering includes unlimited popcorn, nachos and soft drinks in other locations. And The Lounge is the ultimate in luxury cinema-going.<br>

                We pride ourselves in the very best cinema experience: cutting-edge technology and the widest choice of experiences, this extends way beyond the box office.</p>
            </div>
          </div>


          <div class="container">
            <div class="card-block">
              <h4 class="card-title"><a href="#">Cinemas</a></h4>
              <p class="card-text">Allied soldiers from Belgium, the British British Empire and France are surrounded by the
                German army and evacuEmpire and France are surrounded by the
                German army and evacuated during a fierce battle in World War II. Allied soldiers from Belgium, the British Empire and France are surrounded by the
                German army and evacuated during a fierce battle inBritish Empire and France are surrounded by the
                German army and evacu World War II Allied soldiers from Belgium, the British Empire and France are surrounded by the
                German army and evacuated during a fierce battle in World War II Allied soldiers from Belgium, the British Empire and France are surrounded by the
                German army and evacuated during British Empire and France are surrounded British Empire and France are surrounded by the
                German army and evacuby the
                German army and evacua fierce battle in World War II Allied soldiers from Belgium, the British Empire and France are surrounded by the
                German army and evacuated during a fierce battle in World War II</p>
            </div>

          </div>
        </div>


      </div>


    </div>
    <hr>

  </div>
    <!-- /.container -->

    <!-- jQuery -->
  <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
}