@(movies: List[Movie], form: Form[Movie])(implicit messages: Messages)

@main("Administrator") {
  <div class="container text-center">
    <button onclick="showCreateModal();" class="bookButton">Create new movie</button>
  </div><br>

  <div class="container" style="width: 70%;">
    <div class="row">
    @for(movie <- movies) {
      <div class="col-lg-6 mb-5">
        <div>
          <img style="width: 300px; height: 475px; float: left; padding-right: 5px;" src=@movie.Poster>
          <p class="card-title" align="right" style="font-size: 19px;">Name: @movie.Title </p>
          <p class="card-text" align="right">Certification: @movie.Rated<br>
          Release Date: @movie.Released<br>
          Runtime: @movie.Runtime<br>
          Genres: @movie.Genre<br>
          Director: @movie.Director<br>
          Actors: @movie.Actors</p><br>
          <p class="card-text" align="right" style="height: 150px; overflow: auto;">Synopsis: @movie.Plot</p>
        </div><br>
        <div align="left">
          <p style="float: left;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
          <input type="button" class="bookButton" onclick="showUpdateModal()" value="Update" style="float: left;">
          <p style="float: left;">&nbsp&nbsp&nbsp&nbsp&nbsp</p>
          <input type="button" id="test" onclick='promptCheck("@movie.Title")' class="bookButton" value="Delete"
          style="float: left;">
        </div>
      </div>
    }
    </div>
  </div>

  <div id="createMenu" class ="modal adminModal card-title" role="dialog">
    <div align="center" style="font-size: 20pt; padding: 10px;"><b>Create new Movie</b></div>
    @helper.form(routes.Admin.createMovie(), 'id -> "updateContent") {
      @helper.inputText(form("Title"), 'id -> "title")
      @helper.inputText(form("Rated"), 'id -> "rated")
      @helper.inputText(form("Released"), 'id -> "released")
      @helper.inputText(form("Runtime"), 'id -> "runtime")
      @helper.inputText(form("Genre"), 'id -> "genre")
      @helper.inputText(form("Director"), 'id -> "director")
      @helper.inputText(form("Actors"), 'id -> "actors")
      @helper.textarea(form("Plot"), 'id -> "plot", 'style -> "width:100%; height:300px; resize:none")
      @helper.inputText(form("Poster"), 'id -> "poster")
      @helper.inputText(form("Video"), 'id -> "video")
      <br><button class="bookButton" type="submit" style="float: left;">Create Movie</button>
      <p style="float: left; padding: 20px;">&nbsp</p>
      <input type="button" class="bookButton" value="Cancel Entry" data-dismiss="modal" style="float: left;">
      }
  </div>

  <div id="safetyCheck" class="modal adminModal card-title text-center" role="dialog">
    <div id="safetyCheckContent" class="text-center" role="dialog">
      <div style="font-size: 20pt; padding: 10px;">Are you sure?</div><br>
      <input type="button" class="bookButton" value="Yes" onclick="toDelete()" style="float: left;">
      <p style="float: left;">&nbsp&nbsp&nbsp</p>
      <input type="button" class="bookButton" value="No" data-dismiss="modal" style="float: left;">
    </div>
  </div>

  <div id="updateMenu" class ="modal adminModal card-title" role="dialog">
    <div align="center" style="font-size: 20pt; padding: 10px;"><b>Update Movie</b></div>
    @helper.form(routes.Admin.updateMovie(), 'id -> "updateContent") {
      @helper.inputText(form("Title"), 'id -> "title")
      @helper.inputText(form("Rated"), 'id -> "rated")
      @helper.inputText(form("Released"), 'id -> "released")
      @helper.inputText(form("Runtime"), 'id -> "runtime")
      @helper.inputText(form("Genre"), 'id -> "genre")
      @helper.inputText(form("Director"), 'id -> "director")
      @helper.inputText(form("Actors"), 'id -> "actors")
      @helper.textarea(form("Plot"), 'id -> "plot", 'style -> "width:100%; height:300px; resize:none")
      @helper.inputText(form("Poster"), 'id -> "poster")
      @helper.inputText(form("video"), 'id -> "video")
      <br><button class="bookButton" type="submit" style="float: left;">Update Movie</button>
      <p style="float: left; padding: 20px;">&nbsp</p>
      <input type="button" class="bookButton" value="Cancel Entry" data-dismiss="modal" style="float: left;">
    }
  </div>

  <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/admin.js")"></script>
  <script>
    var deleteName = " ";

    function promptCheck(movieName) {
      deleteName = movieName;
      $("#safetyCheck").modal("show");
    }

    function showUpdateModal() {
      $("#updateMenu").modal("show");
    }

    function showCreateModal() {
      $("#createMenu").modal("show");
    }

    function toDelete() {
      window.location.href = "/delete/" + deleteName;
    }
  </script>
}



