@main("Certifications") {
  <!-- Page Content -->
  <br> <div class="container">
    <h1 class="card-title text-center">Certifications</h1> <br>
    <h4 class="card-title text-center">Here is a list of the current film certificates issued in the UK. If you are
      planning to visit us, please make sure to bring identification. Our staff are advised to use their discretion
      when asking for proof of age.</h4>
  </div> <br>
    <!-- /.container -->

  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <div class="row">

          <div class="col-cert-1 mb-5">
            <div class="cert">
              <img class="cert-img" src="@routes.Assets.at("images/uCert.png")" alt="U"></a>
            </div>
          </div>
          <div class="col-cert-2 mb-5">
            <div class="card-block">
              <h5 class="card-title">Definition:</h5>
              <p class="card-text">All ages admitted. There is nothing unsuitable for children aged 4 years and
                over.</p> <br>
              <h5 class="card-title">Guidelines:</h5>
              <p class="card-text">May contain infrequent very mild language. May contain very mild sex references and
                mild violence, if justified by the context.</p>
            </div>
          </div>

          <div class="col-cert-1 mb-5">
            <div class="cert">
              <img class="cert-img" src="@routes.Assets.at("images/pgCert.png")" alt="U"></a>
            </div>
          </div>
          <div class="col-cert-2 mb-5">
            <div class="card-block">
              <h5 class="card-title">Definition:</h5>
              <p class="card-text">All ages admitted, but some certain scenes can be unsuitable for young children.
                They should not disturb children aged 8 or older.</p> <br>
              <h5 class="card-title">Guidelines</h5>
              <p class="card-text">May contain mild language or sex/drug references. May contain moderate violence if
                justified by context (e.g. fantasy). A parent may wish to check the content before they let their
                children watch or play it.</p>
            </div>
          </div>

          <div class="col-cert-1 mb-5">
            <div class="cert">
              <img class="cert-img" src="@routes.Assets.at("images/12aCert.png")" alt="U"></a>
            </div>
          </div>
          <div class="col-cert-2 mb-5">
            <div class="card-block">
              <h5 class="card-title">Definition:</h5>
              <p class="card-text">Films under this category are considered to be unsuitable for young children.
                Cinemas in the United Kingdom are only permitted to supply tickets to see a 12A film to children under
                the age of 12 if they are accompanied by an adult aged 18 or over. However, it is unlikely to be
                suitable for children under the age of 12.</p> <br>
              <h5 class="card-title">Guidelines:</h5>
              <p class="card-text">May contain mature themes, discrimination, soft drugs, moderate language, moderate
                violence, sex references and nudity. Sexual activity may be briefly and discreetly portrayed. Use of
                strong language may be permitted based on frequency and how they are used, as well as contextual
                justification. Sexual violence may be implied or briefly indicated.</p>
            </div>
          </div>

          <div class="col-cert-1 mb-5">
            <div class="cert">
              <img class="cert-img" src="@routes.Assets.at("images/15Cert.png")" alt="U"></a>
            </div>
          </div>
          <div class="col-cert-2 mb-5">
            <div class="card-block">
              <h5 class="card-title">Definition:</h5>
              <p class="card-text">Suitable only for people aged 15 and older. No one younger than 15 may see a 15 film
                in a cinema.</p> <br>
              <h5 class="card-title">Guidelines:</h5>
              <p class="card-text">May contain adult themes, hard drugs, (frequent) strong language, strong violence
                and strong sex references, and nudity without graphic detail. Sexual activity may be portrayed but
                without any strong detail. Sexual violence may be shown if discreet and justified by context. Use of
                very strong language may be permitted based on frequency and how they are used, as well as contextual
                justification.</p>
            </div>
          </div>

          <div class="col-cert-1 mb-5">
            <div class="cert">
              <img class="cert-img" src="@routes.Assets.at("images/18Cert.png")" alt="U"></a>
            </div>
          </div>
          <div class="col-cert-2 mb-5">
            <div class="card-block">
              <h5 class="card-title">Definition:</h5>
              <p class="card-text">Suitable only for people aged 18 or older, which means adults only. No one younger
                than 18 may see an 18 film in a cinema.</p> <br>
              <h5 class="card-title">Guidelines:</h5>
              <p class="card-text">Films under this category do not have limitation on the foul language that is used.
                Hard drugs are generally allowed, and explicit sex references along with detailed sexual activity are
                also allowed. Scenes of strong real sex may be permitted if justified by the context (Sex works
                cannot be placed at "18"). Very strong, gory, and/or sadistic violence is usually permitted. Strong
                sexual violence is permitted unless it is eroticized or excessively graphic, in which a work will
                require compulsory cuts where possible.</p>
            </div>
          </div>

        </div>
          <!-- /.row -->

      </div>
        <!-- /.col-lg-9 -->

    </div>
      <!-- /.row -->

  </div>
}
