@(form: Form[ContactUs])(implicit messages: Messages)
<!DOCTYPE html>
<html>
    <head>
        <title>Contact us</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    </head>
    <body style="width:100%;">

        <h1>Contact Us</h1>

        @helper.form(action = routes.ContactController.formHandler(), 'class->"inline-form") {
            @helper.inputText(form("Name"), 'class->"form-control control-group", 'style->"width:80%")
            @helper.inputText(form("Email"), 'class->"form-control control-group",'style->"width:80%")
            @helper.inputText(form("Subject"), 'class->"form-control control-group", 'style->"width:80%")
            @helper.textarea(form("Message"), 'class->"form-control control-group", 'style->"width:80%; height:300px; resize: none")
            @helper.inputText(form("Number"), 'class->"form-control control-group", 'style->"width:80%")
            <button class="btn">Submit</button>
        }
    </body>
</html>
