@main("Find Us") {
  <!-- Page Content -->
  <br> <div class="container">
    <h1 class="card-title text-center">Find us</h1> <br>
  </div> <br>
    <!-- /.container -->

  <div class="container">

    <div class="row">

      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="google-maps"></div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card-block">
          <h4 class="card-title">Address</h4>
          <p class="card-text">Address line 1</p>
          <p class="card-text">Address line 2</p>
          <p class="card-text">Address line 3</p>
        </div>
      </div>

    </div>

  </div>
}
