@main("Homepage") {


  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">

    <!-- ADD SEARCH WHEN IMPLEMENTED -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Movie Listings<br>
          <small>All movies that are currently showing</small>
        </h1>
      </div>

      <div class="search">

      </div>
    </div>

  </div>
      <!-- /.container -->

    <!-- Page Content -->
  <div class="container">

      <!-- Page Heading -->

      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://keithandthemovies.files.wordpress.com/2012/09/looper-poster.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorem i no vix. Ne mea nostrud adipiscing constituam. No duo nonumes philosophia, ignota adversarium his no, his eu veri virtute perfecto.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://tube.salamzaban.com/files/2016/04/lesson-95-%E2%80%93-sump%E2%80%99n.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Ea temporibus delicatissimi mei, ne t ex, vide postea option in sed. At qui summo imperdiet, ubique accumsan persequeris eam ut, mea ex erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://www.dafont.com/img/illustration/s/o/something.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Eu pri vidit repudiare, et eam nonumes ceteros explicari. Vmaiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://dl9fvu4r30qs1.cloudfront.net/80/264dc0c9d011e1a00322000a1d0930/file/CABD_Final_Landscape-550x389.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext"> lucilius cu ius. Et legeellegat ex, vide postea optioue acx erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://i.ytimg.com/vi/BmbpHzonLOs/maxresdefault.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">it offendit sensibus. Sed dico ornatus pertinax ne, clita detracto his te. Mei consul saperet maiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://ae01.alicdn.com/kf/HTB1xZd7SXXXXXaYXFXXq6xXFXXX9/DIY-frame-The-Conjuring-font-b-Horror-b-font-font-b-Movie-b-font-font-b.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorum insolens pro, eius moderatius liberavisse no vix. Nenstituam.phia, ignota adversarium his no, his eu veri virtute perfecto.</div>

        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://keithandthemovies.files.wordpress.com/2012/09/looper-poster.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorem i no vix. Ne mea nostrud adipiscing constituam. No duo nonumes philosophia, ignota adversarium his no, his eu veri virtute perfecto.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://tube.salamzaban.com/files/2016/04/lesson-95-%E2%80%93-sump%E2%80%99n.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Ea temporibus delicatissimi mei, ne t ex, vide postea option in sed. At qui summo imperdiet, ubique accumsan persequeris eam ut, mea ex erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://www.dafont.com/img/illustration/s/o/something.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Eu pri vidit repudiare, et eam nonumes ceteros explicari. Vmaiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://dl9fvu4r30qs1.cloudfront.net/80/264dc0c9d011e1a00322000a1d0930/file/CABD_Final_Landscape-550x389.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext"> lucilius cu ius. Et legeellegat ex, vide postea optioue acx erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://i.ytimg.com/vi/BmbpHzonLOs/maxresdefault.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">it offendit sensibus. Sed dico ornatus pertinax ne, clita detracto his te. Mei consul saperet maiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://ae01.alicdn.com/kf/HTB1xZd7SXXXXXaYXFXXq6xXFXXX9/DIY-frame-The-Conjuring-font-b-Horror-b-font-font-b-Movie-b-font-font-b.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorum insolens pro, eius moderatius liberavisse no vix. Nenstituam.phia, ignota adversarium his no, his eu veri virtute perfecto.</div>

        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://keithandthemovies.files.wordpress.com/2012/09/looper-poster.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorem i no vix. Ne mea nostrud adipiscing constituam. No duo nonumes philosophia, ignota adversarium his no, his eu veri virtute perfecto.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://tube.salamzaban.com/files/2016/04/lesson-95-%E2%80%93-sump%E2%80%99n.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Ea temporibus delicatissimi mei, ne t ex, vide postea option in sed. At qui summo imperdiet, ubique accumsan persequeris eam ut, mea ex erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://www.dafont.com/img/illustration/s/o/something.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Eu pri vidit repudiare, et eam nonumes ceteros explicari. Vmaiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://dl9fvu4r30qs1.cloudfront.net/80/264dc0c9d011e1a00322000a1d0930/file/CABD_Final_Landscape-550x389.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext"> lucilius cu ius. Et legeellegat ex, vide postea optioue acx erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://i.ytimg.com/vi/BmbpHzonLOs/maxresdefault.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">it offendit sensibus. Sed dico ornatus pertinax ne, clita detracto his te. Mei consul saperet maiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://ae01.alicdn.com/kf/HTB1xZd7SXXXXXaYXFXXq6xXFXXX9/DIY-frame-The-Conjuring-font-b-Horror-b-font-font-b-Movie-b-font-font-b.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorum insolens pro, eius moderatius liberavisse no vix. Nenstituam.phia, ignota adversarium his no, his eu veri virtute perfecto.</div>

        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://keithandthemovies.files.wordpress.com/2012/09/looper-poster.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorem i no vix. Ne mea nostrud adipiscing constituam. No duo nonumes philosophia, ignota adversarium his no, his eu veri virtute perfecto.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://tube.salamzaban.com/files/2016/04/lesson-95-%E2%80%93-sump%E2%80%99n.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Ea temporibus delicatissimi mei, ne t ex, vide postea option in sed. At qui summo imperdiet, ubique accumsan persequeris eam ut, mea ex erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://www.dafont.com/img/illustration/s/o/something.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Eu pri vidit repudiare, et eam nonumes ceteros explicari. Vmaiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://dl9fvu4r30qs1.cloudfront.net/80/264dc0c9d011e1a00322000a1d0930/file/CABD_Final_Landscape-550x389.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext"> lucilius cu ius. Et legeellegat ex, vide postea optioue acx erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://i.ytimg.com/vi/BmbpHzonLOs/maxresdefault.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">it offendit sensibus. Sed dico ornatus pertinax ne, clita detracto his te. Mei consul saperet maiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://ae01.alicdn.com/kf/HTB1xZd7SXXXXXaYXFXXq6xXFXXX9/DIY-frame-The-Conjuring-font-b-Horror-b-font-font-b-Movie-b-font-font-b.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorum insolens pro, eius moderatius liberavisse no vix. Nenstituam.phia, ignota adversarium his no, his eu veri virtute perfecto.</div>

        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://keithandthemovies.files.wordpress.com/2012/09/looper-poster.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorem i no vix. Ne mea nostrud adipiscing constituam. No duo nonumes philosophia, ignota adversarium his no, his eu veri virtute perfecto.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://tube.salamzaban.com/files/2016/04/lesson-95-%E2%80%93-sump%E2%80%99n.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Ea temporibus delicatissimi mei, ne t ex, vide postea option in sed. At qui summo imperdiet, ubique accumsan persequeris eam ut, mea ex erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://www.dafont.com/img/illustration/s/o/something.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Eu pri vidit repudiare, et eam nonumes ceteros explicari. Vmaiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
    </div>
      <!-- /.row -->

      <!-- Projects Row -->
    <div class="row">
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="http://dl9fvu4r30qs1.cloudfront.net/80/264dc0c9d011e1a00322000a1d0930/file/CABD_Final_Landscape-550x389.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext"> lucilius cu ius. Et legeellegat ex, vide postea optioue acx erat alienum definiebas. Eam ferri altera persequeris te, vocent vidisse pro ei.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://i.ytimg.com/vi/BmbpHzonLOs/maxresdefault.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">it offendit sensibus. Sed dico ornatus pertinax ne, clita detracto his te. Mei consul saperet maiestatis no, eu denique sapientem vituperatoribus per.</div>
        </a>
      </div>
      <div class="tinymovie">
        <a href="#">
          <img class="img-responsive" src="https://ae01.alicdn.com/kf/HTB1xZd7SXXXXXaYXFXXq6xXFXXX9/DIY-frame-The-Conjuring-font-b-Horror-b-font-font-b-Movie-b-font-font-b.jpg" alt="http://placehold.it/350x150">
          <div class="tinytext">Lorum insolens pro, eius moderatius liberavisse no vix. Nenstituam.phia, ignota adversarium his no, his eu veri virtute perfecto.</div>
        </a>
      </div>
    </div>
      <!-- /.row -->


    <hr>


      <!-- /.row -->

    <hr>

      <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
        <!-- /.row -->
    </footer>

  </div>
    <!-- /.container -->

    <!-- jQuery -->
  <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
}