@(cinemaCoords: List[Place])

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Directions</title>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/MapStyle.css")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPb8yqimOk1bUNFeF7vxXM_npvHcfcWLc&libraries=places"></script>
  <script src="@routes.Assets.at("javascripts/MapScript.js")"></script>
</head>
<body>
  <div id="mapContainer" class="container">
    <div id="headerRow" class="row">
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon">Starting location:</span>
          <input id="searchBar" class="form-control" type="text" placeholder="Start Point">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon">Mode of travel:</span>
          <select id="travelMode" class="form-control">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon">Cinema:</span>
          <select id="cinemaMode" class="form-control">
            @for(cinema <- cinemaCoords) {
              <option value="@(cinema.xCoord):@(cinema.yCoord)">@(cinema.name)</option>
            }
          </select>
        </div>
      </div>
    </div>
    <div id="mapRow" class="row">
      <div id="mapColumn" class="col-lg-9">
        <div id = "map"></div>
      </div>
      <div id="pathColumn" class="col-lg-3">
        <div id="right-panel"></div>
      </div>
    </div>
  </div>
</body>
</html>