@main("Movie") {


  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">

    <!-- ADD SEARCH WHEN IMPLEMENTED -->
  <hr>
  <div class="giantmovie container-fluid" style="background-image: url(https://ae01.alicdn.com/kf/HTB1xZd7SXXXXXaYXFXXq6xXFXXX9/DIY-frame-The-Conjuring-font-b-Horror-b-font-font-b-Movie-b-font-font-b.jpg);">
    <div class="row gradientheight">
      <div class="giantgradient container-fluid" align="right">
        <div class="card-block gianttext" >
            <h4 class="card-title"><a href="#">The Dark Tower</a></h4>
            <p class="card-text">The last Gunslinger, Roland Deschain, has been locked in an eternal battle with
              Walter O'Dim, also known as the Man in Black, determined to prevent him from toppling the Dark Tower,
              which holds the universe together. With the fate of the worlds at stake, good and evil will collide in
              the ultimate battle as only Roland can defend the Tower from the Man in Black</p>
        </div>

        <div class="card-footer">
          <h1 class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</h1>
        </div>
      </div>
    </div>
  </div>
    <!-- Page Content -->
  <div class="container">



    <hr>


    <div class="container">
      somethign soemthing somethign soemthing somethign soemtghins somethignd
    </div>

  </div>
    <!-- /.container -->

    <!-- jQuery -->
  <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
}