@(movie : Movie)

@main("Homepage") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">

    <!-- ADD SEARCH WHEN IMPLEMENTED -->
  <hr>
  <div class="giantmovie container-fluid" style="background-image: url(@movie.Poster);">
    <div class="row gradientheight">
      <div class="giantgradient container-fluid" align="right">

        <div class="card-footer">
          <h1 class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</h1>
        </div>
        <div class="card-block gianttext" >
            <h4 class="card-title"><a href="#">@movie.Title</a></h4>
            <p class="card-text">@movie.Plot</p>
        </div>
      </div>
    </div>
  </div>
    <!-- Page Content -->
  <div class="container">



    <hr>


    <div class="container">
      somethign soemthing somethign soemthing somethign soemtghins somethignd
    </div>

  </div>
    <!-- /.container -->

    <!-- jQuery -->
  <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
}