@main("Nearby places") {
  <!-- Page Content -->
  <br> <div class="container">
    <h1 class="card-title text-center">Nearby places of interest</h1> <br>
    <h3 class="card-title text-center">If you're planning to visit us, why not make a day out of it? Here are the
      restaurants and attractions nearby to our cinemas.</h3>
  </div> <br>
    <!-- /.container -->

  <div class="container">

    <div class="row">

      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="google-maps"></div>
        </div>
      </div>

    </div>

  </div>
}
